<ion-view view-title="My New Project Name" hide-back-button="true">


    <ion-content>
        <div class="search">
            <input type="text" placeholder="Search Shows" ng-model="string">
            <span class="search"><button class="search-button" ng-click="searchList(string)">Search</button></span>
        </div>
        <ion-list>
            <div class="row responsive-sm">
                <ion-item class="col-50" ng-repeat="item in spectacleList" ng-click="gotoDetail(item)">
                    <div class="item-thumbnail-left">
                        <img ng-src="{{::item.photo}}">
                        <h2>{{::item.name}}</h2>
                        <p>{{::item.date | date : medium}}</p>
                        <p>
                            {{::item.location}}
                        </p>
                    </div>
                </ion-item>
            </div>
        </ion-list>
        <div ng-show="noData" class="no-data"> No data found </div>
    </ion-content>
</ion-view>