<ion-view view-title="AMM spectacle store (Tickets)" hide-back-button="true">

    <ion-content>

        <ion-list>
            <div class="row responsive-sm">
                <ion-item class="col-50" ng-repeat="show in list" ng-href ng-click="gotoDetail(show)">
                    <div class="item-thumbnail-left">
                        <img ng-src="{{::show.photo}}">
                        <h2>{{::show.name}}</h2>
                        <p>{{::show.date | date : 'medium'}}</p>
                        <p>
                            {{::show.location}}
                        </p>
                        <p>
                            Tickets purchased : {{::show.totalTickets}}
                        </p>
                        <p>
                            Total Cost : {{::show.totalCost |number:2 }}
                        </p>
                    </div>
                </ion-item>
            </div>
        </ion-list>

        <div ng-show="list.length < 1">
            <p style="text-align:center">no data found</p>
        </div>
    </ion-content>
</ion-view>